body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table-content {
  background-color: ghostwhite;
}
.ant-table-thead {
  background-color: blue;
  text-transform: uppercase;


}

#control-hooks {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  max-width: 100%;
 
}

.ant-form {
  max-width: 100%;

}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

.auto-zoom-out-button {
  animation: zoomOut 0.5s infinite alternate;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


